body {
    font-family: Source Sans Pro !important;
}

.homepage {
    background-image: url(images/pic_1.jpg);
    background-color: #071629;
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
}

.pricing {
    background-image: url(images/pic_2.jpg);
    background-color: #071629;
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
}

.courses {
    background-image: url(images/pic_3.jpg);
    background-color: #071629;
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
}

.bg-0-files {
    background-size: cover;
}

header {
    margin: 0 5% 0 7%;
}

.pro-row {
    margin: 0 7%;
}

.hero-piece {

    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
} 

.hero-piece h1 {
    font-size: 5rem;
    margin-top: 10rem;
}

.pro-title {
    margin-top: 8rem;
}

.btn {
    border-radius: 500px !important;
}

.btn-primary {
    background-color: #C271FF;
    border-color: #C271FF;
    box-shadow: 0 0 18px #343434 !important;
}

.text-primary {
    color: #C271FF !important;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    opacity: 0.9 !important;
    background-color: #C271FF !important;
    border-color: #C271FF !important;
}

.nav-link:hover {
    color: #C271FF!important;
}

.pro {
    padding: 1.5rem .2rem;
}

.pro-img {
    width: 50% !important;
    
}

.bg-primary {
    background-color: #C271FF !important;
}

.holberton_school-icon-arrow_3, .holberton_school-icon-arrow_4 {
    font-size: 600%;
}

.holberton_school-icon-star {
    font-size: 120%;
}
.car-img {
    padding: 1rem 0 !important;
}
.car-img img {
    margin: 0 !important;
}

.card {
    border: 0;
}

.row-cards {
    width: 80%;
}

.star-non-r {
    opacity: .4;
}

.car-play {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 92%;
}

.card-logo {
    width: 30%;
    top: 5rem;
}

.membership {
    background-color: #071629;
    color: #FFFFFF;
}

.holberton_school-icon-ic_facebook, .holberton_school-icon-ic_twitter, .holberton_school-icon-ic_instagram {
    font-size: 200%;
}

.copyright {
    opacity: 0.5;
}

.footer {
    background-color: #071629;
    display: flex;
    justify-content: center;
    align-items: center;
}
.what-is {
    padding-top: 8rem;
}

.price-big {
    font-size: 3rem;
}

.price-small {
    font-size: 80%;
    opacity: 0.5;
}

.success-check {
    color: #82D24F;
    font-size: 130%;
}

.premium-list {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 4rem;
}

.premium-list .premium-ele {
    border-color: #797979 !important;
}

.faq-title {
    font-size: 5rem;
    margin: 0;
}
.courses-title {
    font-family: Coiny;
    font-size: 2rem;
}
[class*='d-nav']::before {
    content: '';
    position: absolute;
    bottom: 1rem;
    background-color: #FFFFFF;
    width: 4rem;
    height: 0.1rem;
}

.filter-search {
    width: 87%;
}

.form-control {
    font-family: holberton_school-icon, Source Sans Pro light;
    background-color: #DDB0FF;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    border-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-weight: 100;
}

.form-control:focus {
    background-color: #a84af0;
}

.form-control::placeholder {
    color: #FFFFFF;
    opacity: .6;
}

@font-face {
    font-family: 'holberton_school-icon';
    src:  url('fonts/holberton_school-icon.eot?sq4eq4');
    src:  url('fonts/holberton_school-icon.eot?sq4eq4#iefix') format('embedded-opentype'),
        url('fonts/holberton_school-icon.ttf?sq4eq4') format('truetype'),
        url('fonts/holberton_school-icon.woff?sq4eq4') format('woff'),
        url('fonts/holberton_school-icon.svg?sq4eq4#holberton_school-icon') format('svg');
    fnt-weight: normal;
    font-style: normal;
    font-display: block;
    }
    
    [class^="holberton_school-icon-"], [class*=" holberton_school-icon-"] {
    font-family: 'holberton_school-icon' !important;

    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
      /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }
    
    .holberton_school-icon-arrow_1:before {
    content: "\e900";
    }
    .holberton_school-icon-arrow_2:before {
    content: "\e901";
    }
    .holberton_school-icon-arrow_3:before {
    content: "\e902";
    }
    .holberton_school-icon-arrow_4:before {
    content: "\e903";
    }
    .holberton_school-icon-arrow_5:before {
    content: "\e904";
    }
    .holberton_school-icon-check:before {
    content: "\e905";
    }
    .holberton_school-icon-ic_bag:before {
    content: "\e906";
    }
    .holberton_school-icon-ic_cart:before {
    content: "\e907";
    }
    .holberton_school-icon-ic_facebook:before {
    content: "\e908";
    }
    .holberton_school-icon-ic_hearing:before {
    content: "\e909";
    }
    .holberton_school-icon-ic_instagram:before {
    content: "\e90a";
    }
    .holberton_school-icon-ic_laptop:before {
    content: "\e90b";
    }
    .holberton_school-icon-ic_money:before {
    content: "\e90c";
    }
    .holberton_school-icon-ic_music:before {
    content: "\e90d";
    }
    .holberton_school-icon-ic_sound:before {
    content: "\e90e";
    }
    .holberton_school-icon-ic_twitter:before {
    content: "\e90f";
    }
    .holberton_school-icon-ic_video:before {
    content: "\e910";
    }
    .holberton_school-icon-menu:before {
    content: "\e911";
    }
    .holberton_school-icon-search_1:before {
    content: "\e912";
    }
    .holberton_school-icon-search_2:before {
    content: "\e913";
    }
    .holberton_school-icon-star:before {
    content: "\e914";
    }
